<div style="width: 400px;">
    <h5>Cerca Per...</h5>
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
        <select class="form-control" name="tipoRicerca" id="tipoRicerca" required [(ngModel)]="tipoRicerca" (ngModelChange)="SelectValue()">
            <option value="model">Modello</option>
            <option value="targa">Targa</option>
            <option value="cilindrata">Cilindrata</option>
          </select>
    </div>

    <div *ngIf="selected">
        <input type="text" class="form-control" id="valoreRicerca" required [(ngModel)]="valoreRicerca" name="valoreRicerca">
        <br>
        <div class="btn-group">
            <button type="submit" class="btn btn-success">Submit</button>
          </div>
    </div>
    
  </form>
</div>
<hr>
<table *ngIf="pressed" class="table table-striped">
  <tr>
    <th>Id</th>
    <th>Modello</th>
    <th>Targa</th>
    <th>Cilindrata</th>
  </tr>
  <tr *ngFor="let car of cars">
  <td>{{car.id}}</td>
  <td>{{car.model}}</td>
  <td>{{car.targa}}</td>
  <td>{{car.cilindrata}}</td>
  </tr>
</table>