.footer {
    background-color: #4b4c46;
    line-height: 55px;
    width: 100%;
    text-align: center;
    color: #e1dac5;
    font-size: 14px;
    border-top: 3px solid #797979;
    background: #525252;
    height: auto;
}

.content{
    position: relative;
    height: auto;
    margin: 0 auto;
    margin-bottom: 200px;
    top: -200px;
}