<nav class="navbar navbar-expand-lg navbar-dark" style="background: #525252">
  <div class="ui-g-12" style="margin: -12px">
    <div class="ui-g-4">
    </div>
    <div class="ui-g-4">
      <a class="navbar-brand" href="#">
        <img src="http://2.bp.blogspot.com/-frXMwdxsUyg/VpwZAFmBcJI/AAAAAAAABK4/G6sBPW0qhg8/s1600/CRUD.png" alt="">
      </a>
    </div>
    <div class="ui-g-4">
    </div>
    <div class="ui-g-12" style="margin: -12px">
      <div class="ui-g-2">
      </div>
      <div class="ui-g-8">
        <menu-ng></menu-ng>
      </div>
      <div class="ui-g-2">
      </div>
    </div>
  </div>
</nav>