<div class="col-md-12">
  <table class="table table-striped">
    <tr>
      <th>Id</th>
      <th>Nome</th>
      <th>Età</th>
      <th>Attivo</th>
      <th>Azione</th>
    </tr>
    <tr customer-details [customer]='customer'*ngFor="let customer of customers | async">
    </tr>
  </table>
  
</div>

<div class="container-fluid col-md-3">
  <button type="button" class="btn btn-danger" (click)='deleteCustomers()'>Delete All</button>
</div>

<div class="container-fluid col-md-3">
  <button type="button" class="btn btn-danger" (click)='pressModifica()'>Modifica</button>
</div>

<p-dialog header="Modifica Customer" [(visible)]="modPressed" [modal]="true" [responsive]="true"
  [style]="{width: '350px', minWidth: '200px'}" [minY]="70" [baseZIndex]="10000">
  <p>
    CIAO
  </p>
  <p-footer>
    <button type="button" pButton icon="pi pi-check" (click)="display=false" label="Yes"></button>
    <button type="button" pButton icon="pi pi-close" (click)="display=false" label="No"
      class="ui-button-secondary"></button>
  </p-footer>
</p-dialog>